<!DOCTYPE html>
<html>
<head>
    <title> Student Manager</title>
    <style>
        body {
        font-family: Arial;
        background: #f4f4f4;
        text-align: center;
        }
        .container{
        margin-top: 50px;
        }
        input, button{
        padding: 10px;
        margin: 5px;
        }
        .card {
            background: white;
            padding: 20px;
            margin: 20px auto;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0px 0 px 10px rgba(0,0,0,0.1);
            }

    </style>

</head>
<body>
<h1>Student Manager</h1>
<div class="container">

    <div>

    </div>
</div>
</body>
</html>